[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Maemo Mapper
Exec=/usr/bin/maemo-mapper
Icon=pkg_maemo-mapper
X-Window-Icon=pkg_maemo-mapper
X-HildonDesk-ShowInToolbar=true
X-Osso-Service=maemo_mapper
X-Osso-Type=application/x-executable
Terminal=false
